{% extends "framework.html" %}

{% block title %}Alter Entry{% endblock %}

{% block content %}

<div class="container-div">

	<div class="page-header">
	  	<h1>Alter entry</h1>
	</div>
	
	{% if session.logged_in %}
		
	  <div class="form-div">
	  
	  	<form method=post action="{{ url_for('alter_entry') }}">
	  	
	  	  <input type="hidden" name="id" value="{{ entry.id }}">

		  <div class="form-group">
		    <label for="title">Title</label>
		    <input type="text" class="form-control" id="title" name="title" value="{{ entry.title }}">
		  </div>
		  
		  <div class="form-group">
		    <label for="text">Title</label>
		    <textarea class="form-control" id="text" name="text">{{ entry.text }}</textarea>
		  </div>
		  
		  <button type="submit" class="btn btn-success">Submit</button>
		  <button type="reset" class="btn btn-primary">Reset</button>
		  
	  	</form>
	  	
	  </div>
	  
	{% endif %}

</div>

{% endblock %}